# This is a guide for Python in Data Science

Usually Jupyter notebook (iPython) is used to write python code. There are 4 different types of cell in Jupyte notebook, which are Code, Markdown, Raw NBConver and Heading. To work in a markdown cell, select the cell (a blue boundary should appear around the cell; you're in command mode) and press Enter on the keyboard, then it will be on editing mode (the cell boundary turns green in color). To switch back to command mode, press Esc. To run the cell, and go to the next cell, press Shift+Enter. If you want to run the cell without advancing to the next, press Ctrl+Enter.

# Variable and data types

In [34]:
#define variable
x = 2+3
print(x)

5

In [35]:
#increase x by 1
y = x+1
print('x+1 =', y)

x+1 = 6

In [36]:
#another method of increament
y += 1
print('x+1 =y=',y)

x+1 =y= 7

In [42]:
#divide x by y
d = x/y
print('x div by y is', d)
floor = x//y
print('x // y is',floor)  #print the interger part/quotient of the division
modulo=x%y
print('x % y id', modulo)  #reminder of the division

x div by y is 0.7142857142857143
x // y is 0
x % y id 5

In [43]:
#check the variable type
type(1.88)

float

This is a float which has both the integer and the fractional part.

In [44]:
#string type variable only text
type('Welcome to Python')

str

There are some standard library, e.g. math module, which have various useful functions and we need to import it before using.

In [45]:
import math
math.pi

3.141592653589793

In [54]:
math.sqrt(4)

2.0

If you want to learn more about 'math' module us help(math) to call the help function on it. The online documentation of the module is https://docs.python.org/3/library/math.html.

In [56]:
#convert a number from integer to float and vice versa
float(4/2)

2.0

In [64]:
#convert integer or float into string
str('10+2')

'10+2'

In [68]:
#
float('10.5')+1

11.5

# string variables

In [69]:
string = 'I live in Reno Nevada USA'

In [70]:
#python is a 0 indexing language which means it start indexing from 0. If you count from the end you need to use -1
string[0]

'I'

In [75]:
string[-1]

'A'

In [77]:
#If you want to extract a word you need to extract all the letters of that word
string[2:6]

'live'

Every space in a string have an indexing here. You need to write the starting and ending index in the extraction if you want a word and the method we have used is called slicing. Here the lower limit is the (n+1)th index and upper limit is not included in the extraction.

In [3]:
def template(x,y):
    if x > y:
        return abs(y)
    return abs(x)

In [4]:
template(4,-8)

8

In [10]:
def con(x,y):
    if abs(x-y) == 1:
        return("consecutive")
    return ("not consecutive")

In [11]:
con(2,4)

'not consecutive'

In [13]:
st1='Travel to SF: 2 hrs'
st2='Travel to UK: 14 hrs + 4 hrs layover'
st3='Travel to BD: 6 hrs'

In [32]:
Total = str(int(st1[14])+int(st2[14:16])+int(st2[23])+int(st3[14]))+' hours.'

In [33]:
print('Total time to travel Bangladesh from SF is:', Total, 'Which is really exhaustive.')

Total time to travel Bangladesh from SF is: 26 hours. Which is really exhaustive.

In [37]:
print(len(st1))
print(len(st2))
print(len(st3))

19
36
19

In [56]:
Total = str(int(st1[-5])+int(st2[-13])+int(st2[-22:-20])+int(st3[-5]))+' hours.'
print('Total time to travel Bangladesh from SF is:', Total, 'Which is exhaustive.')

Total time to travel Bangladesh from SF is: 26 hours. Which is exhaustive.

In [57]:
#change (convert) letters into upper/lower case
st1.lower()

'travel to sf: 2 hrs'

In [58]:
print('Total time to travel Bangladesh from SF is:'.upper(), Total, 'Which is exhaustive.')

TOTAL TIME TO TRAVEL BANGLADESH FROM SF IS: 26 hours. Which is exhaustive.

In [1]:
#remove unnecessay characters
myname='bzSaad U. Mahmud '
myname.strip('bznu')

'Saad U. Mahmud '

In [2]:
#removing the leading and tailoring characters seperately
print(myname.lstrip('bznu'))
print(myname.rstrip('bznu'))

Saad U. Mahmud
bzSaad U. Mahmud

In [3]:
myname.find('Saad')

2

In [73]:
# Replacing specific word of a character or substring

y = 'Week 1: Ini. Week 2: Exe. Week 3: Review.'
y.replace('Week ', '')

'1: Ini. 2: Exe. 3: Review.'

In [74]:
print(y)

Week 1: Ini. Week 2: Exe. Week 3: Review.

In [76]:
print('We will meet at 3 o\'clock on 3rd May.')

We will meet at 3 o'clock on 3rd May.

In [78]:
# To introduce a tab character, use \t

score = 'Home:\t13'
print(score)

Home:	13

In [79]:
# To introduce a newline character (similar to pressing Enter on your keyboard), use \n

scores = 'Home:\t13\nAway:\t10'
print(scores)

Home:	13
Away:	10

# List: collection of data

We can do indexing, slicing, and concatenating with the lists.

In [2]:
topschools = ['Princeton University', 'Harvard University','Columbia University','Massachusetts Institute of Technology',
'University of Chicago','Yale University','Stanford University','Duke University','University of Pennsylvania',
              'Johns Hopkins University']
print(topschools)

['Princeton University', 'Harvard University', 'Columbia University', 'Massachusetts Institute of Technology', 'University of Chicago', 'Yale University', 'Stanford University', 'Duke University', 'University of Pennsylvania', 'Johns Hopkins University']

In [3]:
#which one is in rank 7
topschools[6]

'Stanford University'

In [5]:
topnext = ['Northwestern University','California Institute of Technology','Dartmouth College','Brown University','Vanderbilt University',
          'Cornell University','Rice University','University of Notre Dame','University of California--Los Angeles', 'Washington University in St. Louis']
topschools+topnext

['Princeton University',
 'Harvard University',
 'Columbia University',
 'Massachusetts Institute of Technology',
 'University of Chicago',
 'Yale University',
 'Stanford University',
 'Duke University',
 'University of Pennsylvania',
 'Johns Hopkins University',
 'Northwestern University',
 'California Institute of Technology',
 'Dartmouth College',
 'Brown University',
 'Vanderbilt University',
 'Cornell University',
 'Rice University',
 'University of Notre Dame',
 'University of California--Los Angeles',
 'Washington University in St. Louis']


Lists are mutable their identities can be changed in-place without creating a new list. But strings are immutable.

In [6]:
# We can also add multiple items to the list is to use the "extend" method

topschools.extend(topnext)
len(topschools)
#print(topschools)

20

In [7]:
# or we can add items one at a time using the "append" method

topschools.append('Emory University')
topschools[-3:]   # let's just look at the end of the list

['University of California--Los Angeles',
 'Washington University in St. Louis',
 'Emory University']

In [11]:
#just the 3rd from the bottom/ no. 17th
topschools[-3]

'University of California--Los Angeles'

In [13]:
# check if Rice uni is in the top 20 list
'Rice University' in topschools

True

In [15]:
#what is the rank of Rice Uni?
topschools.index('Rice University')

16

In [16]:
# Let's get the list in alphabetical order

topschools.sort()
topschools[:10]   # just looking at the first 10 to verify sorting

['Brown University',
 'California Institute of Technology',
 'Columbia University',
 'Cornell University',
 'Dartmouth College',
 'Duke University',
 'Emory University',
 'Harvard University',
 'Johns Hopkins University',
 'Massachusetts Institute of Technology']

In [18]:
# make a list of numbers and then sort the number
newlist = [40,10,5,100,30,60,3,15,35]
newlist.sort()
newlist

[3, 5, 10, 15, 30, 35, 40, 60, 100]

In [23]:
#you can make a list inside a list which will be a nestedlist
list2 = [[2,5,7], [30,40,60],[100,200,500]]
print(list2[0])

[2, 5, 7]

In [24]:
#get the first element of the second list(write the list number first and then the element number)
print(list2[1][0])

30

For more information on lists go to: https://www.tutorialspoint.com/python/python_lists.htm; you will get full documentation at the official Python documentation page.

Exercise :

You have a class of students whose hights are: 5.6,5.8,5.9,5.3,5.5,5.10,6.1,,6.2,5.8. Find the median height by taking the average of the two "middle" scores.

Hint: First, sort the scores. To find the locations of the "middle" scores, first determine the number of scores you're dealing with using the len() function.

Ans: The scores = [89, 79, 83, 85, 95, 50, 77, 90, 100, 91, 69, 87, 93, 88]

In [41]:
Height = [5.6,5.8,5.9,5.3,5.5,5.1,6.1,6.2,5.8]
Height.sort()
print(Height)

[5.1, 5.3, 5.5, 5.6, 5.8, 5.8, 5.9, 6.1, 6.2]

In [42]:
n = len(Height)
# the (n+1)/2 th position in the list
medpos = (n+1)/2
print(medpos)

5.0

In [36]:
#median is the (n+1)/2 = 5th number in the list
print(Height[4])

5.8

In [43]:
Height.append(6.4)#the opposite is remove(itemname)
Height.sort()
print(Height)

[5.1, 5.3, 5.5, 5.6, 5.8, 5.8, 5.9, 6.1, 6.2, 6.4]

In [46]:
#average of n/2th and (n/2 + 1)th itmes is the median
n1 = len(Height)
print(n1/2,n1/2 + 1 )

5.0 6.0

In [49]:
medpos1 = (Height[4] + Height[5])/2
print(medpos1)

5.8

Here is the reference of the materials in this page:
The following materials were consulted during development of this notebook:

J. Zelle, Python Programming: An Introduction to Computer Science, 2nd ed. Sherwood, Oregon: Franklin, Beedle & Associates Inc., 2010.

Python 3 Documentation from the Python Software Foundation: https://docs.python.org/3/